<div class="container">
  <h1>Ajouter un exercice</h1>
  <a routerLink="/list/exercice" class="btnback">Retour à la liste</a>
  <hr />
  <form (ngSubmit)="addExercise()" #exerciseForm="ngForm">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" [(ngModel)]="newExercise.username" required>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" [(ngModel)]="newExercise.description" required>

    <label for="duration">Durée (en minutes):</label>
    <input type="number" id="duration" name="duration" [(ngModel)]="newExercise.duration" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" [(ngModel)]="newExercise.date" required>

    <button type="submit" class="btnadd">Ajouter</button>
  </form>
</div>
